// COLORS

$bg-blue: #1e213a;
$bg-dark-blue: #100e1d;
$bg-gray: #6E707A;
$bg-gray-blue: #585676;

$font-white: #e7e7eb;
$font-gray: #a09fb1;

$fs-144: 9rem;
$fs-64: 4rem;
$fs-48: 3rem;
$fs-36: 2.25rem;
$fs-24: 1.5rem;
$fs-18: 1.125rem;
$fs-16: 1rem;
$fs-14: 0.875rem;
